/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  /*font: 13.34px Helvetica, Arial, sans-serif;*/
  font-family: cambria,georgia,times,serif;
  color: #333333;
  text-align: center;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 {
 font-size: 400%;
 margin-top: .5em;
 margin-bottom: .5em;
 text-align: center;
 line-height: 1;
}

h2{
  font-size: 200%;
  margin-top: 1em;
}

p { margin: 1em 0; }

a {
  text-decoration: none;
  border-bottom: 1px solid #0088cc;
  color: #0088cc;
}
a:hover   { color: #0088cc; }
a:visited { color: #0088cc; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  margin-right: 20px;
  /*font-family: Monaco, "Courier New", monospace;*/
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  text-align: justify;
  max-width: 42em;
  margin: 3em auto 2em;
  padding: 0 20px;
}

.header {
  font-family: 'Noto Sans', sans-serif
  max-width: 30em;
  margin: 0 auto;
}

.site .header a {
  font-weight: bold;
  text-decoration: none;
  border: none;
}

.site .header h1.title {
  display: inline-block;
  margin-bottom: 2em;
}

.site .header h1.title a {
  color: #a00;
}

.site .header h1.title a:hover {
  color: #000;
}

.site .header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.site .header a.extra:hover {
  color: #000;
}

.site .meta {
  color: #aaa;
}

.site .footer {
  color: #666;
  border-top: 4px solid #eee;
  overflow: hidden;
  max-width: 30em;
  margin: 2em auto;
}

.site .footer .contact {
  float: left;
  margin-right: 3em;
}

.site .footer .contact a {
  color: #8085C1;
  border-bottom: none;
}

.site .footer .contact .avatar{
  margin-top: 15px;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 1em .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.post-date {
  text-align: center;
  margin-bottom: 50px;
}

.quote {
  margin: 10px 35px 10px 20px;
  border-left: 5px solid #eeeeee;
  padding: 0 0 0 15px;
  font-style: italic;
}

.quote-author {
  width: 100%;
  text-align: right;
  color: #999999;
}

.green-box {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border: 1px solid #fbeed5;
  border-radius: 4px;
  border-color: #d6e9c6;

  color: #468847;
  background-color: #dff0d8;
  font-size: 90%;
}



/*****************************************************************************/
/*
/* Quicktip
/*
/*****************************************************************************/

/* standard */

.quicktip {
  max-width: 30em;
  margin: 0 auto 40px auto;
}

.quicktip .quicktip-tag{
  margin: 40px auto -20px auto;
  width: 90%;
  font-size: 125%;
  font-weight: bold;
}

.quicktip pre {
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  padding: 1em .4em;
}

.quicktip ul, .quicktip ol {
  margin-left: 1.35em;
}

.quicktip code {
  border: 1px solid #ddd;
  padding: 0 .2em;
}

.quicktip pre code {
  border: none;
}

/* terminal */
.quicktip pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.quicktip pre.terminal code {
  background-color: #333;
}

.quicktip-date {
  text-align: center;
  margin-bottom: 50px;
}

.quote {
  margin: 10px 35px 10px 20px;
  border-left: 5px solid #eeeeee;
  padding: 0 0 0 15px;
  font-style: italic;
}

.quote-author {
  width: 100%;
  text-align: right;
  color: #999999;
}

.green-box {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border: 1px solid #fbeed5;
  border-radius: 4px;
  border-color: #d6e9c6;

  color: #468847;
  background-color: #dff0d8;
  font-size: 90%;
}

