---
layout: default
title: Fabián Uribe
---
<section>
    <ul class="posts">
        {% for post in site.posts %}
        <li class="post-element">
            <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%b %-d, %Y" }}</time>
            <a href="{{ post.url }}">{{ post.title }}</a>
            <nav>
                <ul class="tags">
                    {% for tag in post.tags %}
                    <li>
                        <a href="/tag/{{ tag | downcase }}" class="tag">{{ tag | replace:'-',' '}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </li>
        {% endfor %}
    </ul>
</section>
